html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    background: -webkit-linear-gradient(90deg, rgb(54, 129, 148), rgb(175, 179, 183));
    background: -moz-linear-gradient(90deg, rgb(54, 129, 148), rgb(175, 179, 183));
    background: linear-gradient(90deg, rgb(54, 129, 148), rgb(175, 179, 183));
    background-attachment:  fixed;
}


.first-window{
    margin-top: 5%;
}

.name{
    margin-left: 20%;
    font-size: 24px;
    color: #2d4a53;
}

.header{
    display: flex;
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%;  
    border: 1px solid #2d4a53;
    box-shadow: 0 0 30px #2d4a53; 
    background-color: white;
}


.nav-menu{
    display: flex;
    flex-basis: 12%;
    margin-left: 5%;
    align-items: center;
} 

.menu-item{
    flex-basis: 50%; 
}

.buttons-smooth{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 500;
}

.id-but{
    display: flex;
    align-items: center;
    margin-left: 41%;
}

#button-about-first, #button-about-sec{
    border-radius: 6px;
    padding: 5px;
}

.enter-or-reg{
    margin-top: 5%;
}

.enter-but{
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    color: white;
    background-color: #2d4a53;
    font-weight: 100;
    border-color: #2d4a53;
    transition: 0.2s linear;
}

.enter-but:hover{
    background-color: #132E35;
    border: 1px solid #132E35;
    box-shadow: 0 0 15px #2d4a53; 
}

#first-pic{
    border-radius: 30px;
}

.reg-button{
    margin-left: 50%;
}

.but-1{
    font-size: 16px;
    padding-left: 80%;
    padding-right: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fafaff;
    color: #2d4a53;
    border-color: black;
    font-weight: bold;
    border-width: 0.01em;
    border-radius: 6px;
    transition: 0.2s linear;
}

.but-1:hover{
    border-color: lightgray;
}

#but2-link{
    text-decoration: none;
    color: #fafaff;
}

#but1-link{
    text-decoration: none;
    color: #2d4a53;
}

#but-enter-link{
    text-decoration: none;
    color: #fafaff;
}

.but-2{
    font-size: 16px;
    background-color: #2d4a53; 
    color: #fafaff;
    padding-left: 80%;
    padding-right: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    transition: 0.2s linear;
}
.but-2:hover{
    background-color: #132E35 ;
}

.about{
    display: flex;
}

.about-main{
    max-width: 30%;
    margin-left: 15%;
    flex-basis: 50%;
    margin-top: 3%;
}

.about-text{
    font-size: 20px;
    opacity: 0.8;
}

.reg{
    opacity: 0.6;
    margin-top: 3%;
}

.about-picture{
    flex-basis: 50%;
    margin-left: 5%;
    margin-top: 8%;
}

.about-header{
    font-size: 45px;
    color: #0d1f23;
}

.second-window{
    margin-top: 23%;
}

#link-reg{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #2d4a53;
    border-radius: 6px;
    transition: 0.2s linear;
    margin-left: 2%;
    text-decoration: none;
}
#link-reg:hover{
    background-color: #2d4a53;
    color: white;
}

.respons-first{
    display: flex;
    margin-right: 5%;
}

.respons-main{
    flex-basis: 50%;
    max-width: 30%;
    margin-left: 5%;
    margin-top: 2%;
}

.respons-picture{
    margin-left: 15%;
    margin-top: 5%;
}

.respons-second{
    margin-top: 20%;
    display: flex;
    margin-left: 15%;
}

.respons-picture-2{
    margin-left: 10%;
    margin-top: 5%;
}

.footer{
    background-color: white;
    margin-top: 15%;
    height: 8em;
}

.communicate{
    height: inherit;
    display: flex;
    margin-left: 43%;
}

.icon-vk{
    max-width: 70%;
    max-height: 70%; 
    margin-top: 30%;
}

.icon-tg{
    max-width: 70%;
    max-height: 70%; 
    margin-top: 30%;
    margin-left: 100%;
}

@media screen and (max-width: 3300px) {
    
}

@media screen and (max-width: 1200px) {
    .nav-menu{
    }
    
    .id-but{
        margin-left: 13%;
    }
}

@media screen and (max-width: 998px) {
    .nav-menu{
    } 
    .id-but{
        margin-left: 0%;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu{
    } 
    .id-but{
        margin-right: 25%;
    }
}

@media screen and (max-width: 576px) {
    .nav-menu{
    } 
    .id-but{
        margin-left: 1%;
    }

    .name{
        font-size: 20px;
    }
}