head {
    height: auto
}

body {
    margin: 0;
    background-color: #f9faff;
    height: 100vh;
}

.header-container {
    display: flex;
    padding-top: 1%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#logo-img {
    margin-left: 2%;
}

.logo-block {
    flex-basis: 13.5%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 0.5%;
}

.search-cont {
    flex-basis: 20%;
}

#search-field {
    background: url('../img/search-logo.png');
    background-repeat: no-repeat;
    background-position: 5px;
    display: flex;
    font-size: 14px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    font-weight: 600;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    outline: none;
    font-family: system-ui;
}

#search-field:hover {
    box-shadow: 0 0 10px #2d4a53;
}

.logo-profile {
    margin-left: auto;
    margin-right: 2%;
}

#button-exit {
    margin-right: 12%;
    padding-left: 10px;
    padding-right: 10px;
    height: 37px;
    font-size: 14px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: white;
    border-radius: 6px;
    transition: 0.2s linear;
    outline: none;
    cursor: pointer;
}

.nav-menu-storage {
    width: 15%;
}

.App {
    background: -webkit-linear-gradient(90deg, #f4ebff, #c0e3f2, #f4ebff);
    background: linear-gradient(90deg, #f4ebff, #c0e3f2, #f4ebff);
    height: 100vh;
}

.but-create-cont {
    padding-top: 8%;
    margin-left: 10%;
}

#but-create {
    padding: 10px;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
    border: 0px solid #2d4a53;
    box-shadow: 0 1px 3px #2d4a53;
    background: white;
    border-radius: 12px;
    transition: 0.2s linear;
    outline: none;
    cursor: pointer;
}

#but-create:hover,
#button-exit:hover {
    background-color: rgb(230, 209, 255);
    box-shadow: 0 1px 3px #2d4a53;
}

.nav-menu-cont {
    margin-top: 5%;
    margin-left: 2%;
}

#nav-field,
#nav-field-my,
#nav-field-enable {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    transition: 0.2s linear;
    width: 85%;
    cursor: pointer;
    background: none;
}

#nav-field-my:hover,
#nav-field-enable:hover {
    background-color: #f9faff;
}

#nav-field:hover {
    background-color: gray;
}

.work-page-container {
    display: flex;
}

.create-storage-cont,
.show-file-cont {
    border-radius: 20px;
    width: 79.2%;
    margin-top: 1%;
    height: 85vh;
    font-family: system-ui;
}

.create-storage-cont-2 {
    border-radius: 20px;
    width: 79.2%;
    margin-top: 1%;
    height: 85vh;
    font-family: system-ui;
    background-color: white;
}

html {
    height: 100vh;
}

.create-storage-interior {
    margin-left: 2%;
}

#create-interior {
    margin-left: 1%;
    margin-top: 3%;
}

#nav-field-cont {
    float: left;
    margin-left: 10%;
}

.header-span {
    font-size: 20px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-weight: 500;
}

#search-file {
    font-size: 14px;
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    background-color: white;
    font-weight: 600;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    outline: none;
    font-family: system-ui;
    float: left;

}

#search-file:hover {
    box-shadow: 0 0 10px #2d4a53;
}

#search-file-form {
    width: 55%;
    margin-left: 2%;
}

#name-storage-create {
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 30%;
    border: 0px solid #2d4a53;
    margin-top: 1%;
    box-shadow: 0 0 2px #2d4a53;
}

.checkbox-type-storage {
    margin-bottom: 2%;
}

.checkbox-type-storage {
    font-size: 16px;
}

.type-storage-promt {
    margin-left: 1%;
    opacity: 0.5;
    font-size: 14px;
}

#type-storage-cont {
    margin-left: 1%;
}

#button-create-storage-interior {
    padding: 10px;
    font-size: 14px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    background: white;
    border-radius: 6px;
    transition: 0.2s linear;
    width: 8%;
    cursor: pointer;
}

#button-create-storage-interior:hover,
#button-input-password-storage:hover {
    background-color: rgb(236, 227, 247);
}

.checkbox-type {
    margin-left: 1%;
    scale: 1.2;
}

#password-for-storage-hint {
    margin-top: 1%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: white;
    border-radius: 6px;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
}

#closed-storage-block {
    margin-left: 2%;
}

#password-header-hint {
    font-size: 14px;
}

.label-type {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    border-radius: 6px;
    padding: 10px;
    margin: 0 0 10px;
    display: block;
    max-width: 80%;
}

#hint-storage-create {
    margin-bottom: 2%;
    color: crimson;
}

#hint-storage-create-right {
    margin-bottom: 2%;
    color: rgb(28, 133, 28);
}

#header-create-page {
    font-size: 20px;
    font-weight: 700;
}

.button-storage {
    width: 90%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    border-radius: 20px;
    transition: 0.1s linear;
    cursor: pointer;
    background-color: white;
}

.button-storage:hover,
.upbutton:hover,
.upbutton-1:hover {
    background: #f5e6fa;
}

.but-storage-name {
    float: left;
    font-size: 20px;

}

.but-storage-owner {
    margin-top: 3%;
    font-size: 13px;
    float: right;
    margin-right: 5%;
    padding-bottom: 10px;
}

.button-storage-interior {
    padding: 10px;
    font-family: system-ui;
}

.button-storage-block {
    margin-bottom: 1%;
}

.file-upload-input {
    display: none;
}

#button-upload-files {
    cursor: pointer;
}

.upload-file-label,
#button-upload-files {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background-color: #f9faff;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}

.upload-file-label:hover,
#button-upload-files:hover {
    background-color: #ddecf5;
}

.upload_file {
    margin-left: 2%;
    width: 90%;
}

.file-upload {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.file-upload-1 {
    display: flex;
    margin-top: 1%;
}

.back-to-storages {
    margin-top: 3%;
    margin-left: 2%;
}

.show-files-interior {
    display: flex;
    width: 100%;
}

.file-params {
    display: flex;
}

#file-prop-name {
    margin-left: 5%;
    width: 54%;
}

#file-name {
    width: 60%;
}

#file-prop-type {
    width: 9%;
}

#file-prop-date {
    width: 15%;
}

#file-prop-size {
    width: 10%;
}

#file-type {
    width: 10%;
}

#file-date {
    width: 16.5%;
}

#file-size {
    width: 10%;
}

#file-interior {
    display: flex;
    width: 90%;
    margin-top: 1%;
    border: 1px solid #2d4a53;
    border-radius: 6px;
    margin-left: 4%;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    transition: 0.1s linear;
    cursor: pointer;

}

#file-interior:hover {
    background-color: lightgray;
}

#interior-block-files {
    box-shadow: 0 0 3px #2d4a53;
    background-color: white;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 8%;
    height: 70vh;
}

#interior-block-files-2 {
    overflow: auto;
    height: 55vh;
    background-color: white;
    border-radius: 20px;
}

#butt-choose {
    display: none;
}

#hint-move-file {
    font-size: 12px;
    margin-left: 5%;
    width: 50%;
}

#choose-file-label {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    background-color: rgba(242, 236, 250, 0.438);
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    font-family: system-ui;
    align-items: center;
    margin-left: 2%;
}

#butt-choose-1 {
    font-size: 14px;
    font-style: system-ui;
}

.block-top-files {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.upbutton {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    background-color: white;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 14px;
    padding: 5px;
    width: 20%;
    font-family: system-ui;
    align-items: center;
    margin-left: 5%;
}



.upbutton-1 {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background-color: #f9faff;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 16px;
    padding: 10px;
    width: 20%;
    font-family: system-ui;
}

.progessBar {
    margin-right: 5%;
    font-size: 12px;
    width: 15%;
    margin-left: 5%;
}

.dropdown-content {
    margin-left: 65%;
    position: sticky;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-right: 3%;
    border-radius: 6px;
}

.file-menu-but:hover {
    background-color: rgb(236, 227, 247)
}

.file-menu-but {
    font-size: 18px;
    font-family: system-ui;
    width: 100%;
    height: 5vh;
    border: none;
    transition: 0.2s linear;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

#file-interior-with-img {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    border-radius: 20px;
    background-color: white;
}

#file-interior-with-img::-webkit-scrollbar {
    width: 10px;
}

#file-interior-with-img::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(80, 34, 70, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

#file-interior-with-img::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #f5ddf5, #e7b0ec);
}

#delete-confirmation {
    margin-right: 2%;
}

.file-block {
    margin-top: 1%;
    transition: 0.2s linear;
    padding: 20px;
    border-radius: 12px;
    border-radius: 20px;
    position: relative;
    height: 28vh;
    backface-visibility: hidden;
    overflow: hidden;
    width: 10%;
    margin-left: 1%;
}

.file-block:hover {
    background-color: rgb(236, 227, 247)
}

.file-name-2 {
    margin-left: 15%;
}

.dropdown-content-2 {
    border: 0px solid #2d4a53;
    position: absolute;
    margin-bottom: 100%;
    box-shadow: 0 0 15px 1px #2d4a53;
    background-color: gray;
    top: 0;
    transform: perspective(400px) rotateY(180deg);
    transition: 0.4s linear;
    font-size: 12px;
    min-height: 100%;
}

.test {
    transform: perspective(400px) rotateY(0deg);
    transition: 0.25s linear;
}


.file-block:hover>.test {
    transform: perspective(400px) rotateY(-180deg);
}

.file-block:hover>.dropdown-content-2 {
    transform: perspective(400px) rotateY(0deg);
}

.files-block {
    max-height: 60vh;
    overflow: auto;
}

.discripion-file {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    font-style: system-ui;
}

.icon-1 {
    margin-left: 5%;
}


#icon {
    border: none;
    background-color: white;
    border-radius: 6px;
    transition: 0.1s linear;
    cursor: pointer;
    height: 3vh;
    margin-left: 5%;
    transition: 0.2s linear;
    margin-top: 0.5%;
}

#icon:hover {
    background-color: rgb(236, 227, 247);
    transform: translate();
}

.sec-interior-header {
    display: flex;
    width: 40%;
    align-items: center;
}

#button-input-password-storage {
    padding: 4px;
    font-size: 16px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: white;
    border-radius: 6px;
    transition: 0.2s linear;
    width: 6%;
    margin-left: 2%;
}

.hidden-data {
    display: none;
}

#hint-password-message {
    font-family: system-ui;
    font-size: 14px;
    color: crimson;
}

.discription-storage {
    font-weight: 400;
    font-family: system-ui;
}

#discription-block {
    width: 30%;
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    border-radius: 12px;
    margin-top: 2%;
    background-color: white;
}

#block-inter {
    display: flex;
}

#subscribe-storage {
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 10px #2d4a53;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s linear;
    width: 35%;
    font-family: system-ui;
    background-color: white;
}

#subscribe-storage-2 {
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 3px #2d4a53;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s linear;
    font-family: system-ui;
    background-color: white;
    max-height: 50%;
    margin-top: 10%;
}

#storage-delete {
    border-radius: 12px;
    border: 0px solid #2d4a53;
    background: none;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.2s linear;
    font-family: system-ui;
    max-height: 60%;
    cursor: pointer;
    scale: 1.4;
    transition: 0.3s linear;
}

#storage-delete-2 {
    border-radius: 12px;
    border: 0px solid #2d4a53;
    background: none;
    font-size: 14px;
    transition: 0.2s linear;
    font-family: system-ui;
    max-height: 60%;
    cursor: pointer;
    scale: 1.4;
    transition: 0.3s linear;
    margin-top: 5%;
}

#logoName {
    text-decoration: none;
    color: #2d4a53;
    font-size: 22px;
    font-weight: 900;
}

#logo_2 {}

#hrefSetting {
    scale: 1.5;
    border-radius: 12px;
    transition: 0.3s linear;
    cursor: pointer;
    content: '\f013';
    font: normal normal normal 15px/1 FontAwesome;
    margin-right: 35px;
}

#hrefSetting:hover {
    transform: rotate(180deg);
}

#storage-controll {
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    border-radius: 12px;
    font-size: 20px;
    transition: 0.2s linear;
    font-family: system-ui;
    background-color: white;
    max-height: 60%;
    margin-right: 10%;
    cursor: pointer;
    transition: 0.2s linear;
}

#storage-controll:hover {
    background-color: #d0e8f7;
}

#storage-delete-сonfirm-button {
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s linear;
    font-family: system-ui;
    background-color: white;
}

#storage-delete:hover,
#storage-delete-2:hover {
    background-color: rgba(220, 20, 60, 0.438);
}

.button-change-view {
    display: flex;
    align-items: center;
    margin-right: 1%;
    padding-top: 10%;
}

#subscribe-storage:hover,
#subscribe-storage-2:hover,
.send-message:hover {
    background-color: rgb(236, 227, 247);
    cursor: pointer;
}

#break-line {
    margin-top: 2%;
    width: 96%;
    border: 1px solid lightgrey;
    box-shadow: 0 0 20px 2px lightgrey;
}

#break-line-2 {
    border: 1px solid lightgrey;
}

.interor-block-menu {
    display: flex;
    align-items: center;
    margin-right: 2%;
    float: right;
}

.drop-area {
    margin-left: 2%;
    margin-top: 2%;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 3px dashed black;
    background-color: #ddecf5;
}

#popup {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 20%;
    min-height: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.popup-content-controll {
    width: 60%;
    min-height: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.interior-controll {
    width: 100%;
    min-height: 60vh;
    margin-top: 2%;
    border-radius: 12px;
}

.interior-controll-users {
    min-height: 40vh;
    width: 35%;
    margin-top: 2%;
}

.users-interior {
    width: 90%;
    margin-top: 3%;
    height: 35vh;
    margin-left: 7%;
    border-radius: 6px;
    overflow: auto;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    background: #f9faff;
}

.users-interior::-webkit-scrollbar {
    width: 10px;
}

.users-interior::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(80, 34, 70, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.users-interior::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #f5ddf5, #e7b0ec);
}

.interior-controll-users-block {
    display: flex;
}

.dropdown-role-block {
    width: 40%;
    margin-left: auto;
}

.dropdown-role-block-2 {
    margin-left: auto;
    width: 10%;
}

.dropdown-role-block-2:hover .dropdown-role-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dropdown-role {
    display: none;
    position: absolute;
    width: auto;
    background-color: #f9f9fd;
    box-shadow: 0 0 5px #2d4a53;
}

.dropdown-role-type {
    display: none;
    position: absolute;
    width: 14%;
    background-color: #f9f9fd;
    box-shadow: 0 0 5px #2d4a53;
    z-index: 10;

}

.change-role-field-first{
    float: right;
    width: 100%;
    border: 0px;
    padding: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-role-field {  
    float: right;
    margin-left: 10%;
    width: 100%;
    border: 0px;
    padding: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-role-field-1{
    float: right;
    margin-left: 10%;
    width: 100%;
    border: 0px;
    padding: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-role-field-1:hover{
    background-color: rgb(236, 227, 247);
}

.change-role-block{
    display: flex;
    height: 30px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.change-role-block:hover{
    background-color: lightgray;
}

.picture-type{ 
    background-size:auto;
    height: 100%;
}

.user-in-list {
    height: 15%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 2%;
    transition: 0.05s linear;
    border-bottom: 1px #c4e0f1 solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;

}

.dropdown-role-block:hover .dropdown-role {
    display: block;
}

.hint-controll {
    font-size: 12px;
    margin-left: 2%;
}

.user-in-list:hover {
    transform: translateY(10%);
    box-shadow: 0 0 5px #2d4a53;
}

.change-role {
    margin-right: 5%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: #f9faff;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-role-2 {
    margin-left: auto;
    margin-right: 5%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: #f9faff;
    border-radius: 6px;
    padding: 5px;
    width: 40%;
    cursor: pointer;
    transition: 0.2s linear;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cross-pic {
    max-height: 50%;
    padding: 5px;
    transition: 0.2s linear;
    cursor: pointer;
}

.cross-pic:hover {
    background-color: #ddecf579;
}

.span-users-list {
    margin-left: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.popup-input-field {
    margin-left: 2%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: white;
    border-radius: 20px;
    width: 40%;
}

.popup-create-submit {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: white;
    border-radius: 12px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 12%;
    transition: 0.2s linear;
    margin-left: 5%;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popup-create {
    align-self: flex-end;
    margin-top: 2%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: #f9faff;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.2s linear;
}

.success-change {
    margin-left: 5%;
    color: rgb(28, 133, 28);
    font-size: 12px;
}

.popup-create:hover,
.popup-create-submit:hover,
.change-role:hover,
.change-role-2:hover,
.button-change-role:hover {
    background-color: rgb(236, 227, 247);
    box-shadow: 0 0 5px #2d4a53;
}

.button-change-role {
    margin-top: 10%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: white;
    border-radius: 6px;
    padding: 8px;
    width: 50%;
    cursor: pointer;
    margin-left: 10%;
    transition: 0.2s linear;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.interior-controll-2 {
    padding-top: 2%;
    display: flex;
    align-items: center;
}

.popup-close {
    align-self: flex-end;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: #f9faff;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s linear;
}

.popup-close:hover {
    background-color: rgb(214, 74, 74);
    transform: perspective(400px) rotate(180deg);
}

.popup-input {
    margin-top: 8%;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background: #f9faff;
    border-radius: 6px;
}

.popup-title {
    font-size: 16px;
}

.popup-title-2 {
    font-size: 20px;
}

.test_3 {
    display: contents;
}

.block-nav-but {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    display: flex;
}

.but-nav-storage {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    background-color: rgba(242, 236, 250, 0.438);
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    font-family: system-ui;
    align-items: center;
    margin-left: 2%;
}

.but-nav-storage-2 {
    border: 0px solid #2d4a53;
    box-shadow: 0 0 2px #2d4a53;
    background-color: rgba(242, 236, 250, 0.438);
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    padding: 2px 10px 2px 10px;
    font-family: system-ui;
    align-items: center;
}

.but-nav-storage:hover,
.but-nav-storage-2:hover,
#choose-file-label:hover {
    background-color: white;
    box-shadow: 0 0 7px #2d4a53;
}



.change-type {
    width: 100%;
    border: 0px solid #2d4a53;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 0 2px #2d4a53;
    padding: 5px 5px 5px 5px;
    background-color: rgba(242, 236, 250, 0.438);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.default-type{
    border: 0px solid #2d4a53;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 2px #2d4a53;
    padding: 5px 10px 5px 10px;
    background-color: rgba(242, 236, 250, 0.438);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.2s;
}

.default-type:hover{
    background-color: rgb(236, 227, 247);
}

#path-navigation {
    font-family: system-ui;
    margin-left: auto;
    margin-right: 5%;
    font-weight: 500;
    background-color: white;
    font-size: 14px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 3px #2d4a53;
    background-color: rgba(242, 236, 250, 0.438);
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    align-items: center;
}

#path-navigation-default {
    font-family: system-ui;
    margin-right: 5%;
    font-weight: 500;
    background-color: white;
    font-size: 14px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 3px #2d4a53;
    background-color: rgba(242, 236, 250, 0.438);
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    align-items: center;
}

#chat-container {
    position: absolute;
    width: 20%;
    height: 50vh;
    background-color: white;
    bottom: 0;
    right: 0;
    margin-bottom: 3%;
    margin-right: 7.5%;
    border-radius: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(233, 140, 213);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.download-waiting {
    bottom: 0;
}

.header-chat {
    height: 10%;
    background-color: #e7b0ec;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross-exit-chat {
    margin-left: auto;
    margin-right: 5%;
}

.message-block {
    display: flex;
    position: absolute;
    bottom: 0;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 100%;
    height: 6%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f9f9fd;
}

.message-block-chat {
    padding-left: 20px;
    margin-top: 10px;
    width: 50%;
}


.message-field {
    width: 60%;
    margin-left: 5%;
    border-radius: 12px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px solid black;
    box-shadow: 0 0 2px #2d4a53;
}

.message-field:hover {
    box-shadow: 0 0 5px #2d4a53;
}

.cont-chat {
    height: 90%;
    background-color: #f9f9fd;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

.cont-chat-2 {
    height: 84%;
    background-color: #f9f9fd;
}

.send-message {
    margin-left: auto;
    margin-right: 5%;
    border-radius: 6px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 3px #2d4a53;
    background-color: white;
    transition: 0.2s linear;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username-chat {
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message__bubble {
    width: fit-content;
    margin-left: auto;
    background-color: #f0e3f1a9;
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
    margin-top: 1%;
}

.message__bubble-2 {
    width: fit-content;
    background-color: rgba(211, 211, 211, 0.582);
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
    margin-top: 1%;
}

.message {
    margin-top: 5%;
    padding-left: 5%;
}

.message__actions {
    text-align: right;
    font-weight: 500;
}

.message__actions-2 {
    font-weight: 500;
}

.message__outer {
    padding-right: 5%;
}

.open-chat {
    float: right;
}

.convert {
    scale: 2.5
}

.convert:hover {
    cursor: pointer;
}

.but-block-type{
    display: flex;
}

.but-block-type-default{
    display: flex;
    margin-right: 5%;
}

@media (max-width: 999px) and (min-width: 700px){
    #chat-container {
        width: 80%;
    }
    .file-block{
        width: 25%;
        height: 25vh;
    }
    .dropdown-role-block-2{
        margin-right: 10%;
    }
    .dropdown-role-type{
        width: 30%;
    }

    .change-role-block{
        height: 50%;
    }
}

@media (max-width: 1550px) and (min-width: 1000px) {
    #chat-container {
        width: 40%;
    }

    .dropdown-role-type{
        width: 22%;
    }

    .dropdown-role-block-2{
        margin-right: 10%;
    }

    .file-block{
        width: 15%;
    }
}

@media (max-width: 699px) and (min-width: 400px){
    #chat-container {
        width: 40%;
    }
    .file-block{
        height: 50vh;
    }
    .dropdown-role-block-2{
        margin-right: 10%;
    }

    #discription-block{
        display: none;
    }
}