head{
    height: auto
}

body{
    margin: 0;
    background-color: #f9faff;
    height: 100%;
}

.header-container{
    display: flex;
    margin-top: 0.8%;
}

#logo-img{
    margin-top: 1%;
    margin-left: 2%;
    transform: scale(1);
}

.logo-block{
    flex-basis: 25%;
}

.search-cont{
    flex-basis: 25%;
}

#search-field{
    background: url('../img/search-logo.png');
    background-repeat: no-repeat;
    background-position: 5px;
    display: flex;
    font-size: 14px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 20px;
    width: 100%;
    background-color: #f9faff;
    font-weight: 600;
    border: 1px solid #2d4a53;
    box-shadow: 0 0 10px #2d4a53; 
    outline: none;
    font-family: system-ui;
}

.logo-profile{
    margin-left: 30%;
}

#button-exit{
    flex-basis: 10%;
    margin-left: 2%;
    height: 37px;
    font-size: 16px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background: #f9faff;
    border-radius: 6px;
    transition: 0.2s linear;
    outline: none;
}   

.nav-menu-storage{
    width: 15%;
}

.but-create-cont{
    padding-top: 8%;
    margin-left: 10%;
}

#but-create{
    padding: 10px;
    font-size: 16px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background: #f9faff;
    border-radius: 6px;
    transition: 0.2s linear;
    outline: none;
}

#but-create:hover, #button-exit:hover{
    background-color: #ddecf5;
    box-shadow: 0 0 5px #2d4a53;
}

.nav-menu-cont{
    margin-top: 5%;
    margin-left: 2%;
}

#nav-field, #nav-field-my, #nav-field-enable{
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
    padding: 15px;
    transition: 0.2s linear;
    border: 0px solid #2d4a53;
    background-color: #f9faff;
    border-radius: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 85%;
    cursor: pointer;
}

#nav-field:hover{
    background-color: #ddecf5;
}

.work-page-container{
    display: flex;
}

.create-storage-cont, .show-file-cont{
    background-color: #ddecf575;
    border-radius: 6px;
    width: 79.2%;
    margin-top: 1%;
    min-height: 85vh;
    font-family: system-ui;
}

.create-storage-interior{
    margin-left: 2%;
}

#create-interior{
    margin-left: 1%;
    margin-top: 3%;
}

#nav-field-cont{
    float: left;
    margin-left: 10%;
}

.header-span{
    font-size: 20px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-weight: 500;
}

#name-storage-create{
 border-radius: 6px;
 font-size: 16px;
 outline: none;
 padding: 10px;
 width: 30%;
 border: 0px solid #2d4a53;
 margin-top: 1%;
 box-shadow: 0 0 5px #2d4a53;
}

.checkbox-type-storage{
    margin-bottom: 2%;
}

.checkbox-type-storage{
    font-size: 16px;
}

.type-storage-promt{
    margin-left: 1%;
    opacity: 0.5;
    font-size: 14px;
}

#type-storage-cont{
    margin-left: 1%;
}

#button-create-storage-interior{
    padding: 10px;
    font-size: 16px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background: #f9faff;
    border-radius: 6px;
    transition: 0.2s linear;
    width: 10%;
}

#button-create-storage-interior:hover, #button-input-password-storage:hover{
    background-color: #ddecf5;
    box-shadow: 0 0 5px #2d4a53;
}

.checkbox-type{
    margin-left: 1%;
    scale: 1.2;
}

#password-for-storage-hint{
    margin-top: 1%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background: #f9faff;
    border-radius: 6px;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
}

#closed-storage-block{
    margin-left: 2%;
}

#password-header-hint{
    font-size: 14px;
}

.label-type{
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    border-radius: 6px;
    padding:10px;
    margin:0 0 10px;
    display:block; 
    max-width: 80%;
   }

#hint-storage-create{
    margin-bottom: 2%;
    color: crimson;
}

.button-storage{
    width: 90%;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background: #f9faff;
    border-radius: 6px;
    transition: 0.1s linear;
}
.button-storage:hover, .upbutton:hover, .upbutton-1:hover{
    background-color: #ddecf5;
    box-shadow: 0 0 5px #2d4a53;
}

.but-storage-name{
    float: left;
    font-size: 20px;
    
}

.but-storage-owner{
    margin-top: 3%;
    font-size: 13px;
    float: right;
    margin-right: 5%;
    padding-bottom: 10px;
}

.button-storage-interior{
    padding: 10px;
    font-family: system-ui;
}

.button-storage-block{
    margin-bottom: 1%;
}

.file-upload-input{
    display: none;
}

#button-upload-files{
    cursor: pointer;
}

.upload-file-label, #button-upload-files{
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background-color: #f9faff;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}

.upload-file-label:hover, #button-upload-files:hover{
    background-color: #ddecf5;
}

.upload_file{
    margin-left: 2%;
    width: 90%;
}

.file-upload{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.file-upload-1{
    display: flex;
    margin-top: 1%;
}

.back-to-storages{
    margin-top: 3%;
    margin-left: 2%;
}

.show-files-interior{
    display: flex;
    width: 100%;
}

.file-params{
    display: flex;
    margin-top: 2%;
}

#file-prop-name{
    margin-left: 5%;
    width: 54%;
    margin-top: 3%;
}

#file-name{
    width: 60%;
}

#file-prop-type{
    width: 9%;
    margin-top: 3%;
}

#file-prop-date{
    width: 15%;
    margin-top: 3%;
}

#file-prop-size{
    width: 10%;
    margin-top: 3%;
}

#file-type{
    width: 10%;
}

#file-date{
    width: 16.5%;
}

#file-size{
    width: 10%;
}

#file-interior{ 
    display: flex;
    width: 90%;
    margin-top: 1%;
    border: 1px solid #2d4a53;
    border-radius: 6px;
    margin-left: 4%;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    transition: 0.1s linear;
    cursor: pointer;
    
}

#file-interior:hover{
    background-color: lightgray;
}

#interior-block-files{
    margin-top: 2%;
    box-shadow: 0 0 5px #2d4a53;
    background-color: #f9faff;
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 8%;
    min-height: 60%;
}

#butt-choose{
    display: none;
}

#choose-file-label{
        display: flex;
        align-items: center;
        border: 0px solid #2d4a53;
        box-shadow: 0 0 10px #2d4a53; 
        border-radius: 6px;
        transition: 0.2s linear;
        background-color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        width: 50%;
        padding: 10px;
}

#butt-choose-1{
    font-size: 14px;
    font-style: system-ui;
    margin-top: 1%;
}

.block-top-files{
    display: flex;
    width: 100%;
}

.upbutton{
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background-color: #f9faff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 16px;
    padding: 5px;
    width: 10%;
    font-family: system-ui;
    align-items: center;
}



.upbutton-1{
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background-color: #f9faff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 16px;
    padding: 10px;
    width: 20%;
    font-family: system-ui;
}

.progessBar{
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
}

.dropdown-content {
    margin-left: 65%;
    position: sticky;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-right: 3%;
    border-radius: 6px;
}

.file-menu-but:hover{
    background-color: #ddecf5;
}

.file-menu-but{
    font-size: 18px;
    font-family: system-ui;
    width: 100%;
    height: 5vh;
    border: none;
    transition: 0.2s linear;
    cursor: pointer;
}

#file-interior-with-img{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;
}

.file-block{
    margin-top: 1%;
    transition: 0.2s linear;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    min-height: 25vh;
    backface-visibility: hidden;
    overflow: hidden;
    width: 10%;
}

.file-block:hover{
    background-color: lightgray;  
}

.file-name-2{
    margin-left: 15%;
}

.dropdown-content-2 {
    border: 0px solid #2d4a53;
    position: absolute;
    margin-bottom: 100%;
    box-shadow: 0 0 15px 1px #2d4a53;
    background-color: gray;
    top: 0;
    transform: perspective(400px) rotateY(180deg);
    transition: 0.4s linear;
    font-size: 12px;
    min-height: 100%;
}

.test{
    transform: perspective(400px) rotateY(0deg);
    transition: 0.4s linear;
}


.file-block:hover > .test{
    transform: perspective(400px) rotateY(-180deg);
}
.file-block:hover > .dropdown-content-2{
    transform: perspective(400px) rotateY(0deg);
}

.files-block{
    max-height: 60vh;
    overflow: auto;
}

.discripion-file{
    background-color: rgb(243, 242, 242);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    font-style: system-ui;
}

.icon-1{
    margin-left: 5%;
}


#icon{
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53;
    background-color: white;
    border-radius: 6px;
    transition: 0.1s linear;
    cursor: pointer;
    height: 3vh;
    margin-left: 5%;
    transition: 0.2s linear; 
    margin-top: 0.5%;
}

#icon:hover {
    background-color: #ddecf5;
    transform: translate();
}

.sec-interior-header{
    display: flex;
    margin-left: 5%;
    width: 20%;
}

#button-input-password-storage{
    padding: 4px;
    font-size: 16px;
    font-family: system-ui;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 5px #2d4a53; 
    background: #f9faff;
    border-radius: 6px;
    transition: 0.2s linear;
    width: 10%;
    margin-left: 2%;
}

.hidden-data{
    display: none;
}

#hint-password-message{
    font-family: system-ui;
    font-size: 14px;
    color: crimson;
}

.discription-storage{
    font-weight: 400;
    font-family: system-ui;
}

#discription-block{
    width: 30%;
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 10px #2d4a53; 
    border-radius: 12px;
    margin-top: 2%;
}

#block-inter{
    display: flex;
}

#subscribe-storage{
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 10px #2d4a53; 
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s linear;
    width: 35%;
    font-family: system-ui;
    background-color: white;
}

#subscribe-storage-2{
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 10px #2d4a53; 
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s linear;
    font-family: system-ui;
    background-color: white;
    max-height: 50%;
    margin-top: 10%;
}

#storage-delete{
    padding: 10px;
    border: 0px solid #2d4a53;
    box-shadow: 0 0 10px #2d4a53; 
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s linear;
    font-family: system-ui;
    background-color: white;
    max-height: 50%;
    margin-top: 10%;
}

#storage-delete:hover{
    background-color: rgba(220, 20, 60, 0.438);
}

.button-change-view{
    display: flex;
    align-items: center;
}

#subscribe-storage:hover, #subscribe-storage-2:hover, #choose-file-label:hover{
    background-color: #ddecf5;
    cursor: pointer;
}

#break-line{
    margin-top: 2%;
    width: 96%;
    border: 1px solid lightgrey;
    box-shadow: 0 0 20px 2px lightgrey; 
}

#break-line-2{
    margin-top: 2%;
    border: 1px solid lightgrey;
    box-shadow: 0 0 20px 2px lightgrey; 
}

.interor-block-menu{
    display: flex;
}
