.icons__content {
    margin-top: 50px;
}

@media (min-width: 1080px) {
    .icons__content {
        margin-left: 100px;
        margin-top: 0;
    }
}

@media (min-width: 1600px) {
    .icons__content {
        margin-left: 330px;
    }
}

/*Category*/
.category {
    padding: var(--padding-360);
    min-height: 100vh;
}

.category__title {
    margin-bottom: 10px;
}

.category__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'filter' 'products';
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

@media (min-width: 480px) {

}

@media (min-width: 720px) {
    .category {
        padding: var(--padding-720);
    }

    .category__title {
        margin-bottom: 20px;
    }

    .category__main {
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .category {
        padding: var(--padding-1080);
    }

    .category__main {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 'products filter';
    }
}

@media (min-width: 1600px) {
    .category {
        padding: var(--padding-1600);
    }

    .category__main {
        grid-template-columns: 3fr 1fr;
    }
}

@media (min-width: 1920px) {
    .category {
        padding: var(--padding-1920);
    }
}

/*Products*/
.products__wrapper {
    grid-area: products;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.products__list.thumbs {
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 480px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 720px) {
    .products__list {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .products__list.thumbs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1366px) {
    .products__list.thumbs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1600px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/*Product*/
.product__wrapper {
    position: relative;
    border-radius: 4px;
}

.product__wrapper:hover {
    background-color: #ffffff;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.product__wrapper:hover .product__info-block {
    background-color: #223c50;
    transition: background-color .2s ease-out;
}

.product__info-block {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.product__info-name {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #444444;
    padding: 0 5px;
    text-align: center;
}

.product__wrapper:hover .product__info-name {
    color: #ffffff;
    transition: color .2s ease-out;
}

.product__image {
    display: block;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.products__list.thumbs .product__image {
    height: 150px;
}

/*Sorting*/
.sorting__wrapper {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    margin-bottom: 20px;
}

.sorting__wrapper:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.sorting__list {
    position: relative;
    font-size: 13px;
    line-height: 23px;
    color: #999999;
}

.sorting__label {
    margin-right: 5px;
}

.sorting__active {
    color: #5ca2b2;
    cursor: pointer;
}

.sorting__active:hover {
    color: #999999;
    transition: color .3s;
}

.sorting__active::after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    background-image: url(../img/icons/icon-arrowdown-grey.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    transition: transform .15s 0s;
}

.sorting__active.opened::after {
    transform: rotate(180deg);
}

.sorting__dropdown {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 10px 20px;
    min-width: 200px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    display: none;
    z-index: 98;
}

.sorting__dropdown a {
    text-decoration: none;
    color: #5ca2b2;
}

.sorting__dropdown a:hover {
    color: #999999;
    transition: color .3s;
}

.sorting__view {
    display: flex;
}

.sorting__switch {
    font-size: 13px;
    line-height: 23px;
    color: #999999;
    cursor: pointer;
    margin-right: 5px;
}

@media (min-width: 480px) {
    .sorting__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .sorting__dropdown {
        top: 40px;
        left: 100px;
        min-width: 150px;
    }
}

@media (min-width: 720px) {
    .sorting__wrapper {
        margin-bottom: 30px;
    }
}

/*Badge*/
.badge__wrapper {
    position: absolute;
    top: -5px;
    right: 0;
}

.badge--free {
    background-color: #f6f6f6;
    border: 1px solid #e1e1e1;
    font-size: 13px;
    line-height: 18px;
    color: #999999;
    padding: 2px 5px;
    border-radius: 4px;
    width: fit-content;
}

@media (min-width: 960px) {
    .badge__wrapper {
        right: -10px;
    }
}

/*Paging*/
.paging.is-lazy-loading {
    display: none;
}

/*Radio*/
.hidden-xs-up {
    display: none;
}

.cbx {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #d8d8d8;
}

.cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.lbl {
    margin-left: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.hidden-xs-up:checked ~ .cbx {
    border-color: transparent;
    background: #223c50;
    animation: jelly 0.6s ease;
}

.step-1 .hidden-xs-up:checked ~ .cbx {
    background: #96cec2;
}

.hidden-xs-up:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

@-moz-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@-o-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

/*Switch*/
.panel__color input[type="checkbox"],
.sorting__view input[type="checkbox"] {
    width: 34px;
    height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    outline: none;
    border-radius: 50px;
    transition: 0.2s;
    position: relative;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.panel__color input:checked[type="checkbox"],
.sorting__view input:checked[type="checkbox"] {
    background: #ebebeb;
}

.panel__color input[type="checkbox"]::before,
.sorting__view input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.2s;
}

.panel__color input:checked[type="checkbox"]::before,
.sorting__view input:checked[type="checkbox"]::before {
    left: 17px;
}

/*Filter*/
.filter {
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    grid-area: filter;
}

.filter__wrapper {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.filter__title {
    font-weight: bold;
}

.filter__lbl {
    margin-left: 10px;
    font-size: 13px;
    color: #999999;
}

/*Product*/
.prod__page {
    padding: var(--padding-360);
}

.prod__title {
    margin-bottom: 10px;
    position: relative;
    width: fit-content;
}

.prod__main {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "photo" "config" "desc";
    grid-row-gap: 10px;
    grid-column-gap: 30px;
}

.prod__photo {
    grid-area: photo;
}

.prod__config {
    position: relative;
    grid-area: config;
    padding: 20px 25px 70px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
}

.prod__config:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.prod__desc {
    grid-area: desc;
}

.prod__name {
    margin-bottom: 10px;
}

.prod__photo-link {
    display: block;
    width: 100%;
    min-height: 300px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
}

.prod__photo-link:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.prod__photo-link.dark {
    background-color: #223c50;
}

.prod__features {
    margin-bottom: 10px;
}

.prod__feature-block {
    display: flex;
}

.prod__feature {
    display: block;
    width: fit-content;
    background-color: #43acb4;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.prod__feature:not(:last-of-type) {
    margin-right: 5px;
}

.prod__feature-name {
    display: block;
    margin-bottom: 10px;
}

.prod__desc p {
    margin-bottom: 10px;
}

.prod__badge {
    display: inline-block;
    margin-left: 5px;
}

@media (min-width: 480px) {
    .prod__photo-link {
        min-height: 400px;
    }
}

@media (min-width: 720px) {
    .prod__page {
        padding: var(--padding-720);
    }

    .prod__title {
        margin-bottom: 20px;
    }

    .prod__main,
    .prod__features,
    .prod__name,
    .prod__desc p {
        margin-bottom: 20px;
    }

    .prod__main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "photo config" "desc desc";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .prod__badge {
        position: absolute;
        top: 0;
        right: -45px;
    }
}

@media (min-width: 1080px) {
    .prod__page {
        padding: var(--padding-1080);
    }
}

@media (min-width: 1366px) {
    .prod__main {
        grid-template-columns: 4fr 3fr 4fr;
        grid-template-areas: "photo config desc";
        grid-column-gap: 30px;
        grid-row-gap: unset;
    }
}

@media (min-width: 1600px) {
    .prod__page {
        padding: var(--padding-1600);
    }
}

@media (min-width: 1920px) {
    .prod__page {
        padding: var(--padding-1920);
    }
}

/*Panel*/
.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "breadcrumbs breadcrumbs" "color share";
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    line-height: normal;
    border: 1px solid #e1e8ed;
}

.panel:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.panel__color {
    grid-area: color;
    display: flex;
}

.panel__switch {
    font-size: 13px;
    line-height: 23px;
    color: #999999;
    cursor: pointer;
    margin-right: 5px;
}

.panel__share {
    grid-area: share;
    position: relative;
    justify-self: end;
}

.panel__share-list {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    white-space: nowrap;
}

.panel__share-item {
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 0;
    color: transparent;
    text-decoration: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-right: 5px;
}

.panel__share-item:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.panel__share-item--vk {
    background-image: url(../img/icons/icon-panel-vk.svg);
    background-color: #f7f8fc;
}

.panel__share-item--fb {
    background-image: url(../img/icons/icon-panel-fb.svg);
    background-color: #f7f8fc;
}

.panel__btn {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0;
    color: transparent;
    text-decoration: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.panel__btn--share {
    background-image: url(../img/icons/icon-share-grey.svg);
}

.panel__btn:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .03);
    transition: box-shadow .2s ease-out;
}

.panel__btn:focus {
    outline: none;
}

@media (min-width: 480px) {

}

@media (min-width: 720px) {
    .panel {
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "breadcrumbs color share";
        margin-bottom: 20px;
    }

    .panel__color {
        justify-self: center;
    }
}

/*Breadcrumbs*/
.breadcrumbs {
    grid-area: breadcrumbs;
    line-height: normal;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item:not(:last-of-type)::after {
    display: inline-block;
    content: '»';
    font-weight: bold;
    color: #356184;
    margin: 0 10px;
}

.breadcrumbs__link {
    font-size: 13px;
    line-height: 23px;
    color: #444444;
    text-decoration: underline;
    font-weight: bold;
}

.breadcrumbs__item:last-of-type .breadcrumbs__link {
    color: #999999;
    text-decoration: none;
    font-weight: normal;
}

/*Config*/
.config {
    margin-bottom: 20px;
}

.config__title {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.config__title span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 18px;
    background: #223c50;
    border-radius: 4px 1px 1px 4px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    text-indent: 4px;
    font-style: normal;
}

.config__title span::before {
    left: 100%;
    top: 50%;
    border: 9px solid rgba(136, 183, 213, 0);
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #223c50;
    margin-top: -9px;
}

.config__wrapper {
    display: flex;
    padding-left: 40px;
    margin-bottom: 10px;
}

.config__btn {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    color: #999999;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    background-color: #f6f6f6;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-right: 10px;
}

.config__btn:hover,
.config__btn.is-active {
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .03);
    transition: all .2s ease-out;
}

.config__btn:focus {
    outline: none;
}

/*Related*/
.related {
    margin-bottom: 20px;
}

.related__header {
    margin-bottom: 20px;
}

@media (min-width: 720px) {
    .related__header {
        margin-bottom: 30px;
    }

    .related {
        margin-bottom: 30px;
    }
}

/*Examples*/
.examples {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.examples__title {
    margin-bottom: 10px;
}

.examples__item {
    height: 200px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    overflow: hidden;
}

.examples--e-card {
    display: flex;
}

@media (min-width: 720px) {
    .examples__title,
    .examples {
        margin-bottom: 20px;
    }

    .examples {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
}

@media (min-width: 1280px) {
    .examples {
        display: grid;
        grid-template-columns: 4fr 3fr 4fr;
        grid-column-gap: 30px;
    }
}

/*e-card*/
.e-card {
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-self: center;
    margin-right: -2px;
    width: 90%;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    margin-left: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.e-card__img {
    height: 100%;
    background: #f6f6f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.e-card__block {
    padding: 10px 20px;
}

.e-card__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.e-card__text {
    font-size: 13px;
    line-height: 18px;
}

.e-thumbs {
    background-image: linear-gradient(45deg, #5792ad, #356184);
    height: 100%;
    padding-top: 10px;
}

.e-thumbs__img {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
}

.e-thumbs__title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Yandex Sans Text', Helvetica, Arial, sans-serif;
}

.e-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.e-icons__icon {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.e-icons__icon span {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.e-icons__icon--50 {
    width: 50px;
    height: 50px;
}

.e-icons__icon--50 span {
    font-size: 10px;
}

.e-icons__icon--75 {
    width: 75px;
    height: 75px;
}

.e-icons__icon--75 span {
    font-size: 11px;
}

.e-icons__icon--100 {
    width: 100px;
    height: 100px;
}

.e-icons__icon--100 span {
    font-size: 12px;
}

.e-icons__icon--150 {
    width: 150px;
    height: 150px;
}

.e-icons__icon--150 span {
    font-size: 13px;
}

/*Tags*/
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tags__title {
    margin-bottom: 10px;
}

.tags__item {
    margin-bottom: 5px;
}

.tags__item:not(:last-of-type) {
    margin-right: 5px;
}

.tags__link {
    position: relative;
    display: block;
    width: fit-content;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    color: #444444;
    font-size: 13px;
    line-height: 18px;
    padding: 2px 5px 2px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: lowercase;
}

.tags__link:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .03);
    transition: all .2s ease-out;
}

.tags__link::after {
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #fcfcfd;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
}

@media (min-width: 720px) {
    .tags,
    .tags__title {
        margin-bottom: 20px;
    }
}

/*License*/
.license {
    font-size: 13px;
    line-height: 18px;
    color: #999999;
}

.license__img {
    width: 90px;
}

.license a {
    color: #5ca2b2;
    word-break: break-word;
    text-decoration: none;
}

.license a:hover {
    color: #999999;
    transition: color .3s;
}

/*Desc*/
.desc {
    padding: 20px 25px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
}

.desc h3 {
    margin-bottom: 10px;
}

.desc p {
    margin-bottom: 10px;
}

@media (min-width: 720px) {
    .desc h3,
    .desc p {
        margin-bottom: 20px;
    }
}

/*main*/
.main {
    padding: var(--padding-360);
    overflow: hidden;
    position: relative;
    min-height: 770px;
}

.main__controls {
    display: flex;
}

.main__controls .controls {
    margin-left: auto;
}

.main__img {
    position: absolute;
    top: 250px;
    right: 20px;
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../img/main-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main__title-block {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.main__upper-text {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 10px 10px 10px 30px;
    background: #7bc2bd;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Yandex Sans Text', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    transform: rotate(-3deg);
    overflow: hidden;
}

.main__upper-text:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .12);
    transition: box-shadow .2s ease-out;
}

.main__upper-text::before {
    content: "";
    position: absolute;
    top: -50%;
    bottom: -50%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .6) 100%);
    width: 45px;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    left: -65%;
    -webkit-animation-name: blick;
    animation-name: blick;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.main__upper-text::after {
    position: absolute;
    top: 18px;
    left: 10px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.main__btn-wrapper {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__btn-wrapper .av-btn--icons {
    display: block;
    padding: 15px 20px 15px 60px;
    font-size: 16px;
    background-image: url(../img/icons/icon-meteor.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 30px;
}

.main__btn-wrapper .av-btn--icons:hover {
    background-image: url(../img/icons/icon-meteor-blue.svg);
}

/*animation*/
@-webkit-keyframes blick {
    60% {
        left: 100%
    }
    to {
        left: 130%
    }
}

@keyframes blick {
    60% {
        left: 100%
    }
    to {
        left: 130%
    }
}

.main__text {
    text-align: center;
    margin: 380px 0 30px;
    color: #616161;
}

.main__title {
    font-size: 34px;
    line-height: 42px;
}

.main__bg-title {
    text-align: center;
    color: #fcfcfd;
    font-weight: bold;
    font-family: 'Yandex Sans Text', Helvetica, Arial, sans-serif;
    font-size: 90px;
    line-height: 150px;
    text-shadow: 1px 5px 20px rgba(150, 150, 150, 0.4);
    margin-top: 125px;
}

.main__bg-title .shine-wrapper,
.main__bg-title .shine-mask {
    display: flex;
}

.main__block {
    position: absolute;
    top: 20px;
}

@media (min-width: 480px) {
    .main__bg-title {
        font-size: 122px;
        margin-top: 130px;
    }

    .main__img {
        top: 270px;
        right: 60px;
        width: 350px;
        height: 350px;
    }

    .main__text {
        margin: 470px 0 30px;
    }
}

@media (min-width: 720px) {
    .main {
        padding: var(--padding-720);
        min-height: 450px;
    }

    .main__bg-title {
        font-size: 185px;
        margin-top: 120px;
        margin-left: -10px;
        text-shadow: 1px 10px 30px rgba(150, 150, 150, 0.6);
    }

    .main__img {
        display: none;
    }

    .main__text {
        margin: 190px 0 30px;
    }
}

@media (min-width: 1080px) {
    .main {
        padding: var(--padding-1080);
    }

    .main__bg-title {
        font-size: 255px;
        line-height: 300px;
        margin-top: 60px;
        margin-left: -10px;
    }

    .main__title-block {
        margin-top: 60px;
    }

    .main__img {
        display: none;
        top: 200px;
        right: 0;
    }

    .main__text {
        margin: 220px 0 30px;
    }
}

@media (min-width: 1280px) {
    .main__bg-title {
        font-size: 300px;
        line-height: 350px;
        margin-top: 70px;
        margin-left: -20px;
    }

    .main__title-block {
        margin-top: 90px;
    }

    .main__text {
        margin: 230px 0 30px;
    }
}

@media (min-width: 1366px) {
    .main__bg-title {
        font-size: 329px;
        line-height: 350px;
        margin-top: 70px;
        margin-left: -20px;
    }

    .main__title-block {
        margin-top: 0;
    }

    .main__block {
        top: 100px;
    }

    .main__img {
        top: 100px;
        right: 80px;
        width: 550px;
        height: 550px;
    }

    .main__text {
        margin: 280px 0 30px;
    }
}

@media (min-width: 1600px) {
    .main {
        padding: var(--padding-1600);
    }

    .main__bg-title {
        font-size: 340px;
        line-height: 350px;
        margin-top: 70px;
        margin-left: -20px;
    }
}

@media (min-width: 1920px) {
    .main {
        padding: var(--padding-1920);
    }

    .main__bg-title {
        font-size: 356px;
    }
}

/*bestseller*/
.bestseller__wrapper {
    padding: 0 15px 30px;
}

.bestseller {
    border-radius: 4px;
    overflow: hidden;
}

.bestseller:hover {
    background-color: #ffffff;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.bestseller__img {
    display: block;
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bestseller__name {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #444444;
    padding: 0 5px;
    text-align: center;
}

.bestseller:hover .bestseller__name {
    background-color: #223c50;
    transition: all .2s ease-out;
    color: #ffffff;
}

.bestseller__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

@media (min-width: 480px) {

}

@media (min-width: 720px) {
    .bestseller__wrapper {
        padding: 0 20px 30px;
    }
}

@media (min-width: 1080px) {
    .bestseller__wrapper {
        padding: 0 40px 70px 40px;
    }
}

@media (min-width: 1600px) {
    .bestseller__wrapper {
        padding: 0 30px 70px 30px;
    }
}

@media (min-width: 1920px) {
    .bestseller__wrapper {
        padding: 0 80px 70px 80px;
    }
}

@media (min-width: 1600px) {

}

/*advantage*/
.advantage {
    padding: var(--padding-360);
}

.advantage__title {
    position: relative;
    font-family: 'Yandex Sans Text', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 30px;
    text-align: center;
}

.advantage__title::before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 150px;
    background-color: #999999;
    height: 2px;
    border-radius: 2px;
}

.advantage__title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 6px;
    background-color: #999999;
    height: 6px;
    border-radius: 50%;
}

.advantage__item {
    padding: 20px;
    border-radius: 10px;
}

.advantage__icon {
    width: 120px;
}

.advantage__name {
    margin-bottom: 10px;
    font-weight: bold;
}

.advantage__text {
    color: #999999;
}

.advantage__item.is-active {
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
}

@media (min-width: 720px) {
    .advantage {
        padding: var(--padding-720);
    }

    .advantage__title {
        margin: 0 0 40px;
    }
}

@media (min-width: 1080px) {
    .advantage {
        padding: var(--padding-1080);
    }

    .advantage__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
}

@media (min-width: 1280px) {
    .advantage__title {
        font-size: 34px;
        line-height: 42px;
    }

    .advantage__block {
        grid-column-gap: 30px;
    }
}

@media (min-width: 1600px) {
    .advantage {
        padding: var(--padding-1600);
    }
}

@media (min-width: 1920px) {
    .advantage {
        padding: var(--padding-1920);
    }
}

/*browser*/
.browser__layout {
    background-image: linear-gradient(0deg, transparent, #f2f7f9, #f6f6f6, transparent);
}

.browser {
    padding: var(--padding-360);
    text-align: center;
}

.browser__img {
    width: 80%;
}

.browser__text {
    max-width: 700px;
    margin: 0 auto 30px;
}

@media (min-width: 720px) {
    .browser {
        padding: var(--padding-720);
    }
}

@media (min-width: 1080px) {
    .browser {
        padding: var(--padding-1080);
    }
}

@media (min-width: 1600px) {
    .browser {
        padding: var(--padding-1600);
    }
}

@media (min-width: 1920px) {
    .browser {
        padding: var(--padding-1920);
    }
}

/*interface*/
.interface {
    padding: 0 15px 30px;
    position: relative;
    text-align: center;
}

.interface__img {
    width: 100%;
}

.interface__text--one {
    display: none;
}

.interface__text--two {
    display: none;
}

.interface__text--three {
    display: none;
}

@media (min-width: 720px) {
    .interface {
        padding: 0 20px 30px;
    }

    .interface__text--one {
        display: block;
        position: absolute;
        max-width: 120px;
        font-size: 13px;
        line-height: 18px;
        top: 215px;
        left: 88px;
    }

    .interface__text--two {
        display: block;
        position: absolute;
        max-width: 120px;
        font-size: 13px;
        line-height: 18px;
        top: 125px;
        right: 105px;
    }

    .interface__text--three {
        display: block;
        position: absolute;
        max-width: 120px;
        font-size: 13px;
        line-height: 18px;
        color: #ffffff;
        top: 315px;
        right: 102px;
    }
}

@media (min-width: 1080px) {
    .interface {
        padding: 0 40px 70px 40px;
    }

    .interface__text--one {
        top: 265px;
        left: 150px;
    }

    .interface__text--two {
        top: 150px;
        right: 175px;
    }

    .interface__text--three {
        top: 410px;
        right: 170px;
    }
}

@media (min-width: 1280px) {
    .interface__text--one {
        max-width: 130px;
        font-size: 16px;
        line-height: 23px;
        top: 310px;
        left: 180px;
    }

    .interface__text--two {
        max-width: 130px;
        font-size: 16px;
        line-height: 23px;
        top: 155px;
        right: 215px;
    }

    .interface__text--three {
        max-width: 130px;
        font-size: 16px;
        line-height: 23px;
        top: 475px;
        right: 210px;
    }
}

@media (min-width: 1366px) {
    .interface__img {
        width: 80%;
    }

    .interface__text--one {
        top: 275px;
        left: 275px;
    }

    .interface__text--two {
        top: 140px;
        right: 300px;
    }

    .interface__text--three {
        top: 420px;
        right: 295px;
    }
}

@media (min-width: 1600px) {
    .interface {
        padding: 0 30px 70px 30px;
    }

    .interface__text--one {
        top: 280px;
        left: 270px;
    }

    .interface__text--two {
        top: 145px;
        right: 295px;
    }

    .interface__text--three {
        top: 430px;
        right: 295px;
    }
}

@media (min-width: 1920px) {
    .interface {
        padding: 0 80px 70px 80px;
    }

    .interface__text--one {
        top: 320px;
        left: 375px;
    }

    .interface__text--two {
        top: 160px;
        right: 405px;
    }

    .interface__text--three {
        top: 490px;
        right: 400px;
    }
}

@media (min-width: 2500px) {
    .interface__text--one {
        top: 320px;
        left: 450px;
    }
}

/*more*/
.more {
    padding: 0 15px 30px;
}

.more__title {
    font-family: 'Yandex Sans Text', Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 36px;
}

.more__text {
    margin-bottom: 10px;
}

.more__name {
    margin-bottom: 10px;
    font-weight: bold;
}

.more__item-text {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 10px;
}

.more__hr {
    background-color: #223c50;
    border: none;
    height: 2px;
    border-radius: 2px;
    margin: 0 auto 10px 0;
    max-width: 150px;
}

.more__left {
    background-color: #f2f7f9;
    border: 1px solid #e1e8ed;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (min-width: 720px) {
    .more {
        padding: 0 20px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    .more__left {
        margin-bottom: 0;
    }

    .more__item-text,
    .more__text,
    .more__hr {
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .more {
        padding: 0 40px 70px 40px;
    }
}

@media (min-width: 1280px) {
    .more {
        grid-column-gap: 50px;
    }

    .more__title {
        font-size: 34px;
        line-height: 42px;
    }
}

@media (min-width: 1600px) {
    .more {
        padding: 0 30px 70px 30px;
    }
}

@media (min-width: 1920px) {
    .more {
        padding: 0 80px 70px 80px;
    }
}

/*Search*/
.search-page {
    min-height: 100vh;
    padding: var(--padding-360);
}

.search-page__title {
    margin-bottom: 10px;
}

@media (min-width: 720px) {
    .search-page {
        padding: var(--padding-720);
    }

    .search-page__title {
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .search-page {
        padding: var(--padding-1080);
    }
}

@media (min-width: 1600px) {
    .search-page {
        padding: var(--padding-1600);
    }
}

@media (min-width: 1920px) {
    .search-page {
        padding: var(--padding-1920);
    }
}

/*BOX-SHADOW GENERATOR*/
/*box-shadow*/
.box-shadow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "settings" "result" "proto";
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    min-height: calc(100vh - 50px);
    padding: var(--padding-360);
}

@media (min-width: 720px) {
    .box-shadow {
        grid-template-columns: 3fr 6fr;
        grid-template-areas: "settings result" "proto proto";
        grid-row-gap: 30px;
        padding: var(--padding-720);
    }
}

@media (min-width: 1080px) {
    .box-shadow {
        min-height: 100vh;
        grid-template-columns: 3fr 6fr;
        padding: var(--padding-1080);
    }
}

@media (min-width: 1280px) {
    .box-shadow {
        grid-template-columns: 3fr 5fr 2fr;
        grid-template-areas: "settings result proto";
    }
}

@media (min-width: 1366px) {
    .box-shadow {
        grid-template-columns: 3fr 5fr 2fr;
    }
}

@media (min-width: 1600px) {
    .box-shadow {
        grid-template-columns: 3fr 6fr 2fr;
        padding: var(--padding-1600);
    }
}

@media (min-width: 1920px) {
    .box-shadow {
        padding: var(--padding-1920);
    }
}

/*settings*/
.settings {
    grid-area: settings;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
}

.settings:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.settings__header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "title share";
}

.settings__title {
    grid-area: title;
    text-transform: uppercase;
    color: #444444;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
}

.settings__title--colored {
    display: block;
}

.settings__text {
    color: #999999;
    margin-bottom: 10px;
}

.settings__label {
    display: block;
    font-size: 13px;
    line-height: 23px;
    color: #999999;
    margin-top: 10px;
}

.settings__hr {
    background: #e1e8ed;
    border: none;
    height: 1px;
    margin-top: 20px;
}

.settings__color-wrapper {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-column-gap: 10px;
    margin-top: 5px;
}

.settings__direction-wrapper {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-areas: "left-top top right-top" "left . right" "left-bottom bottom right-bottom";
    grid-column-gap: 10px;
    margin-top: 5px;
}

.settings__color {
    width: 55px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
}

.settings__color:focus {
    outline: none;
}

.settings__direction {
    display: block;
    height: 25px;
    margin-bottom: 10px;
    border: unset;
    border-radius: 4px;
    background: #6fbebc;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.settings__direction:hover {
    background-color: #47aeb5;
    transition: background-color .2s ease-out;
}

.settings__direction:focus {
    outline: none;
}

.settings__third-ofset,
.settings__third-color {
    display: none;
}

#left-top {
    grid-area: left-top;
    background-image: url(../img/icons/icon-arrow-left-top.svg);
}

#top {
    grid-area: top;
    background-image: url(../img/icons/icon-arrow-top.svg);
}

#right-top {
    grid-area: right-top;
    background-image: url(../img/icons/icon-arrow-right-top.svg);
}

#left {
    grid-area: left;
    background-image: url(../img/icons/icon-arrow-left.svg);
}

#right {
    grid-area: right;
    background-image: url(../img/icons/icon-arrow-right.svg);
}

#left-bottom {
    grid-area: left-bottom;
    background-image: url(../img/icons/icon-arrow-left-bottom.svg);
}

#bottom {
    grid-area: bottom;
    background-image: url(../img/icons/icon-arrow-bottom.svg);
}

#right-bottom {
    grid-area: right-bottom;
    background-image: url(../img/icons/icon-arrow-right-bottom.svg);
}

@media (min-width: 720px) {
    .settings__color-wrapper {
        grid-template-columns: 65px 65px 65px;
        grid-column-gap: 5px;
    }

    .settings__direction-wrapper {
        grid-template-columns: 60px 60px 60px;
    }
}

@media (min-width: 1080px) {
    .settings__title {
        font-size: 22px;
        line-height: 32px;
    }

    .settings__color-wrapper {
        grid-template-columns: 70px 70px 70px;
        grid-column-gap: 10px;
    }

    .settings__direction-wrapper {
        grid-template-columns: 70px 70px 70px;
    }
}

/*irs--flat*/
.settings__form .irs--flat .irs-from,
.settings__form .irs--flat .irs-to,
.settings__form .irs--flat .irs-single,
.settings__form .irs--flat .irs-bar,
.settings__form .irs--flat .irs-handle > i:first-child {
    background-color: #6fbebc;
}

.settings__form .irs--flat .irs-from:before,
.settings__form .irs--flat .irs-to:before,
.settings__form .irs--flat .irs-single:before {
    border-top-color: #6fbebc;
}

/*proto*/
.proto {
    grid-area: proto;
    height: 100%;
    display: grid;
    grid-row-gap: 10px;
}

.proto__block {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
}

.proto__block:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.proto__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: repeat(5, 80px);
    grid-row-gap: 20px;
    height: calc(100% - 40px);
}

.proto__title {
    font-weight: bold;
    color: #999999;
    margin-bottom: 10px;
}

.proto__item {
    width: 100%;
    background-color: #e1e4e9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
}

@media (min-width: 720px) {
    .proto {
        grid-template-columns: 3fr 6fr;
        grid-column-gap: 20px;
    }

    .proto__list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 60px;
    }
}

@media (min-width: 1080px) {
    .proto__list {
        grid-template-rows: 80px 80px;
    }
}

@media (min-width: 1280px) {
    .proto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-row-gap: 20px;
    }

    .proto__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1366px) {
    .proto {
        grid-template-rows: 1fr 4fr;
    }
}

@media (min-width: 1600px) {
    .proto {
        grid-template-rows: 1fr 4fr;
    }
}

/*color*/
.color {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
}

.color:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.color__wrapper {
    display: flex;
    justify-content: space-between;
}

.color__title {
    color: #999999;
}

/*result*/
.result__wrapper {
    grid-area: result;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.result {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.result__title {
    margin-bottom: 5px;
    color: #999999;
}

.result__colored {
    color: #6fbebc;
}

.result__code {
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    padding: 20px;
    background: #ffffff;
    border: 1px solid rgba(132, 153, 171, 0.3);
    border-radius: 4px;
    font-family: monospace;
    font-size: 13px;
    line-height: 23px;
}

.result__item {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #c9cacc;
    background-color: #ffffff;
}

@media (min-width: 480px) {
    .result__item {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 720px) {
    .result {
        padding: 0;
    }

    .result__wrapper {
        padding: 20px 0 0 0;
    }

    .result__code {
        min-height: 180px;
    }

    .result__item {
        width: 400px;
        font-size: 36px;
    }
}

@media (min-width: 1080px) {
    .result__code {
        min-height: 120px;
    }
}

/*cat*/
.cat__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.cat {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: #f9f9fd;
    line-height: normal;
    text-transform: lowercase;
    padding: 5px 10px 5px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #7dc4bf;
}

.cat:hover {
    background: #6db1ac;
    transition: background .2s ease-out;
}

.cat::before {
    position: absolute;
    top: 9px;
    left: 8px;
    background-color: #f7f8fc;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 2px rgba(167, 175, 182, 0.05) inset;
}


/*article*/
.article {
    padding: 0 15px 30px;
}

.article .header-listed {
    position: relative;
    padding-left: 50px;
}

.article .header-listed span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 27px;
    height: 26px;
    background: #223c50;
    border-radius: 4px 1px 1px 4px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-indent: 4px;
    font-style: normal;
}

.article .header-listed span::before {
    left: 100%;
    top: 50%;
    border: 13px solid rgba(136, 183, 213, 0);
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #223c50;
    margin-top: -13px;
}

.article hr {
    margin-bottom: 10px;
    height: 3px;
    background: #43acb4;
    border: none;
    border-radius: 30px;
}

.article h2,
.article h3 {
    margin-bottom: 10px;
}

.article p {
    margin-bottom: 10px;
}

.article img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 16px 0 rgba(50, 50, 50, 0.1);
    background-color: #ffffff;
}

.article ul {
    padding: 40px;
    color: #999999;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.article ol {
    margin-bottom: 10px;
}

.article li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
}

.article li::before {
    content: "";
    left: 0;
    top: 3px;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/icon-check-blue.svg");
}

.article .box-red {
    display: inline-block;
    background: #f5f2f0;
    color: #dd4a68;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 4px;
    white-space: normal;
}

.article .box-grey {
    display: inline-block;
    background: #e3e0de;
    color: #000000;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 4px;
    white-space: normal;
}

.article .code__title {
    display: inline-block;
    margin-bottom: 10px;
    background: #69bfbb;
    color: #39607f;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 4px;
}

.article .word-break {
    word-break: break-word;
}

.article a {
    color: #5ca2b2;
    word-break: break-word;
}

.article a:hover {
    color: #999999;
    transition: color .3s;
}

.articale__example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: #ffffff;
    padding: 50px 20px;
    margin-bottom: 10px;
}

.article__example-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 4px;
    background-color: #f6f6f6;
    font-size: 28px;
    font-weight: bold;
    color: #999999;
}

.article__example-box:not(:last-of-type) {
    margin-bottom: 50px;
}

.article__gradient-ex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 16px 0 rgba(50, 50, 50, 0.1);
    background-color: #ffffff;
    margin-bottom: 10px;
}

@media (min-width: 720px) {
    .article {
        padding: 0 20px 30px;
    }

    .article hr,
    .article p,
    .article li,
    .article ul,
    .article .code__title,
    .article em,
    .article h2,
    .article h3,
    .article ol,
    .articale__example {
        margin-bottom: 20px;
    }

    .articale__example {
        flex-direction: row;
    }

    .article__example-box:not(:last-of-type) {
        margin-bottom: 0;
        margin-right: 50px;
    }

    .article__gradient-ex {
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .article {
        padding: 0 40px 70px 40px;
    }
}

@media (min-width: 1280px) {
    .article {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 4fr 1fr;
    }
}

@media (min-width: 1600px) {
    .article {
        padding: 0 30px 70px 30px;
        grid-template-columns: 9fr 2fr;
    }
}

@media (min-width: 1920px) {
    .article {
        padding: 0 80px 70px 80px;
    }
}

/*Gradient*/
.gradient {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "settings" "gradient";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    min-height: calc(100vh - 50px);
    padding: var(--padding-360);
}

@media (min-width: 480px) {

}

@media (min-width: 720px) {
    .gradient {
        padding: var(--padding-720);
    }
}

@media (min-width: 1080px) {
    .gradient {
        min-height: 100vh;
        grid-template-columns: 3fr 6fr;
        grid-template-areas: "settings gradient";
        padding: var(--padding-1080);
    }
}

@media (min-width: 1280px) {
    .gradient {
        grid-template-columns: 3fr 7fr;
    }
}

@media (min-width: 1600px) {
    .gradient {
        padding: var(--padding-1600);
        grid-template-columns: 338px auto;
    }
}

@media (min-width: 1920px) {
    .gradient {
        padding: var(--padding-1920);
    }
}

/*G-result*/
.g-result__wrapper {
    grid-area: gradient;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
}

.g-result {
    background: linear-gradient(90deg, rgb(86, 181, 184), rgb(152, 207, 195));
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    margin: 10px 0 20px;
}

.g-result__code {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #ffffff;
    border: 1px solid rgba(132, 153, 171, 0.3);
    border-radius: 4px;
    font-family: monospace;
    font-size: 13px;
    line-height: 23px;
    flex-grow: 1;
}

.g-result__codeblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 480px) {
    .g-result__wrapper {
        grid-template-rows: auto 2fr 1fr;
    }
}

@media (min-width: 720px) {
    .g-result__wrapper {
        padding: 20px 0 0 0;
    }
}

@media (min-width: 1366px) {
    .g-result__wrapper {
        grid-template-rows: auto 3fr 1fr;
    }
}

/*Gradients*/
.gradients {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0 15px 30px;
}

.gradients__item {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
}

.gradients__item:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .06);
    transition: box-shadow .2s ease-out;
}

.gradients__item--wide {
    margin-bottom: 10px;
}

.gradients__gradient {
    height: 150px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.gradients__item--wide .gradients__gradient {
    height: 300px;
}

.gradients__code {
    padding: 10px;
    background: #f7f8fc;
    border: 1px solid rgba(132, 153, 171, 0.3);
    border-radius: 4px;
    font-family: monospace;
    font-size: 13px;
    line-height: 23px;
}

@media (min-width: 720px) {
    .gradients {
        padding: 0 20px 70px;
        grid-template-columns: 1fr 1fr;
    }

    .gradients__item--wide {
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .gradients {
        padding: 0 40px 70px 40px;
    }
}

@media (min-width: 1280px) {
    .gradients {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1600px) {
    .gradients {
        padding: 0 30px 70px 30px;
    }
}

@media (min-width: 1920px) {
    .gradients {
        padding: 0 80px 70px 80px;
    }
}
