body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    background: -webkit-linear-gradient(90deg, rgb(54, 129, 148), rgb(175, 179, 183));
    background: -moz-linear-gradient(90deg, rgb(54, 129, 148), rgb(175, 179, 183));
    background: linear-gradient(90deg, rgb(54, 129, 148), rgb(175, 179, 183));
    background-attachment:  fixed;
}

.first-window{
    margin-top: 5%;
}

.name{
    margin-left: 20%;
    font-size: 24px;
    color: #2d4a53;
}

.header{
    display: flex;
    background-color: #fafaff;
    border: 1px solid #2d4a53;
    box-shadow: 0 0 30px #2d4a53; 
}

.nav-menu{
    display: flex;
    flex-basis: 12%;
    margin-left: 5%;
    align-items: center;
} 

.menu-item{
    flex-basis: 50%; 
}

.id-but{
    display: flex;
    align-items: center;
    margin-left: 57.5%;
}

.reg-button{
    margin-left: 50%;
}

.but-1{
    font-size: 16px;
    padding-left: 80%;
    padding-right: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fafaff;
    color: #2d4a53;
    border-color: black;
    font-weight: bold;
    border-width: 0.01em;
    border-radius: 6px;
    transition: 0.2s linear;
}

.but-1:hover{
    border-color: lightgray;
}

#but2-link{
    text-decoration: none;
    color: #fafaff;
}
#but1-link{
    text-decoration: none;
    color: #2d4a53;
}

.but-2{
    font-size: 16px;
    background-color: #2d4a53; 
    color: #fafaff;
    padding-left: 80%;
    padding-right: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    transition: 0.2s linear;
}
.but-2:hover{
    background-color: #132E35 ;
}

#reg-window{
    width: 100%;
    height: 100%;
}

.main-reg{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5%;
}

#reg-container{
    display: flex;
    padding-top: 10px;
    padding-left: 18%;
    padding-bottom: 15%;
    border-radius: 50px;
    box-shadow: 0 0 100px #2d4a53;
    
}

#main-cont{
    margin-top: 3%;
}

#errorAlert{
    margin: 0;
    color:crimson;
    font-weight: 400;
    font-size: 14px;
}

.correction-field{
    margin: 0;
    color:crimson;
    font-weight: 400;
    display: none;
}

#reg-fields{
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 4%;
}

#main-header{
    font-size: 30px;
}

#main-text{
    font-size: 20px;
}

.input-field{
    font-size: 18px;
    margin-top: 15%;
    height: 35px;
    border-radius: 10px; 
    border: 1px solid #fafaff;
    box-shadow: 0 0 5px #fafaff; 
    padding-left: 10px;
}

#login{
    margin-top: 10%;
}

#help-text{
    font-size: 14px;
    opacity: 0.5;
}

#reg-link{
    text-decoration: none;
    color: #2d4a53;
    transition: 0.2s linear;
}

#reg-link:hover{
    color: white;
}

.password{
    width: 100%;
}

#emailCorrection, #passwordCorrection, #passwordConfirmationCorrection{
    font-size: 12px;
}

#button-reg{
    font-size: 20px;
    margin-top: 10%;
    border-radius: 10px;
    color: white;
    background-color: #2d4a53;
    border-color: #2d4a53;
    font-weight: 100;
    transition: 0.2s linear;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
}

#button-reg:hover{
    background-color: #132E35;
    border: -1px solid #132E35;
    box-shadow: 0 0 15px #2d4a53; 
}

#reg-text{
    margin-bottom: 10%;
    text-align: center;
    color: black;
    font-size: 34px;
}

@media screen and (max-width: 3300px) {
    
}

@media screen and (max-width: 1200px) {
    .nav-menu{
    }
    
    .id-but{
        margin-left: 13%;
    }
}

@media screen and (max-width: 998px) {
    .nav-menu{
    } 
    .id-but{
        margin-left: 0%;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu{
    } 
    .id-but{
        margin-right: 25%;
    }
}

@media screen and (max-width: 576px) {
    .nav-menu{
    } 
    .id-but{
        margin-left: 1%;
    }

    .name{
        font-size: 20px;
    }

    #main-text{
        font-size: 8px;
    }

    #main-header{
        font-size: 12px;
    }

    #reg-text{
        font-size: 15px;
    }

    .input-field{
        font-size: 14px;
        height: 20px;
        border-radius: 10px; 
        border: 1px solid #fafaff;
        box-shadow: 0 0 5px #fafaff; 
        padding-left: 10px;
    }

    #reg-fields{
        flex-basis: 10%;
        margin-left: 10%;
        margin-top: 5%;
        height: 400px;
    }

    #button-reg{
        font-size: 12px;
        width: 100%;
    }
}